/* website font */
.noto-sans-main-font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* website margins and paddings */
body{
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

header{
  /* background image */
  background-image: url('images/banner/baner_01.png');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  height: 65vh;
}

main{

}

/* offer container */
#offer{
  height: 25vh;
  width: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
  margin: 1% auto 1% auto;
  justify-items: center;
  align-items: center;
}

/* offer boxes */
.offer_box {
  background-color: #cceeff;
  width: 20vw;
  height: 20vh;
  display: flex;
  align-items: center;
  padding: 1vw 2vw;
  box-sizing: border-box;
  gap: 10%;
}

/* opis tekstu*/
.offer_description {
  flex: 1;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* tytuł w offer */
.offer_description h2 {
  font-size: 1.2vw;
  font-weight: 900;
  margin: 0 0 0.7em 0;
  letter-spacing: 2px;
}

/* tekst w offer*/
.offer_text p {
  font-size: 0.7vw;
  margin: 0;
  font-weight: 300;
  line-height: 1.4;
}

/* .offer_image img{
  max-height: 100%;
  max-width: 100%;
} */

#about{
  background-color: #009dff;
  height: 15vw;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #ffffff;
}

#galery{
  height: 25vh;
  width: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
  margin: 4% auto 4% auto;
  justify-items: center;
  align-items: center;
}

#galery img{
  max-width: 100%;
  max-height: auto;
}

#products_desc{
  background-color: #ffffff;
  height: 10vw;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 4% 20% 0% 20%;
  padding: 3%;
  font-size: 0.7vw;
}

#products_pic{
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  justify-items: center;

}

#pic_desc{
  margin: 0.5vh auto 1vh auto;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  justify-content: center;
  align-content: center;
  text-align: center;
}