/* website font */
.noto-sans-main-font {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* website margins and paddings */
body{
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

header{
  /* background image */
  position: relative;
  background-image: url('images/banner/baner_01.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
}

.above_menu{
  display: flex;
  gap: 1vw;
  justify-content: right;
  margin-right: 8.5vw;
  padding: 0.4%;
}

#menu{
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  height: 4vh;
  background-color: #009dff;
  opacity: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 3vw;
}

.menu_left .logo{
  width: 10vw;
  height: auto;
  margin-left: 10vw;
  margin-top: 11vh;
}

.menu_center{
  display: flex;
  gap: 2vw;
}

.menu_center a{
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 1vw;
  padding: 0 0.5vw;
  transition: color 0.2s;
}

.menu_center a:hover {
  color: white;
}

.menu_right{
  display: flex;
  gap: 0.5vw;
  align-items: center;
  margin-top: 0.4vh;
  margin-right: 8vw;
}

.menu_right img{
  width: 1.6vw; 
  height: auto;
}

/* offer container */
#offer{
  height: 31.5vh;
  width: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
  margin: 1% auto 1% auto;
  justify-items: center;
  align-items: center;
}

/* offer boxes */
.offer_box {
  background-color: #cceeff;
  width: 20vw;
  height: 20vh;
  display: flex;
  align-items: center;
  padding: 1vw 2vw;
  box-sizing: border-box;
  gap: 10%;
}

/* opis tekstu*/
.offer_description {
  flex: 1;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* tytuł w offer */
.offer_description h2 {
  font-size: 1.2vw;
  font-weight: 900;
  margin: 0 0 0.7em 0;
  letter-spacing: 2px;
}

/* tekst w offer*/
.offer_text p {
  font-size: 0.7vw;
  margin: 0;
  font-weight: 300;
  line-height: 1.4;
}

/* .offer_image img{
  max-height: 100%;
  max-width: 100%;
} */

#about{
  background-color: #009dff;
  height: 18vw;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #ffffff;
}

#about p{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 0.8vw;
}

#about h2{
  font-size: 1vw;
}

#galery{
  height: 30vh;
  width: auto;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
  margin: 4% auto 4% auto;
  justify-items: center;
  align-items: center;
}

#galery img{
  /* max-width: 100%; */
  max-height: auto;
  width: 20vw;
}

#galery_desc{
  background-color: #ffffff;
  height: 8vw;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0% 20% 0% 20%;
  padding-top: 0%;
  padding-left: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
  font-size: 0.7vw;
}

#products_pic{
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  justify-items: center;
}

#products_desc{
  margin: 0.5vh auto 3vh auto;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  justify-content: center;
  align-content: center;
  text-align: center;
}

hr{
  border: solid 1px;
}

#brands{
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  justify-items: center;
}

#contact{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  justify-content: center;
  align-content: center;
  text-align: left;
  background-color: #000000;
  color: white;
  height: 15vh;
  font-size: 0.8vw;
  /* custom padding and border in html file */
}

#socialmedia{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: #009dff;
  color: white;
  height: 5vh;
}

a img{
  width: 20%;
  padding: 1%;
}